<!--The content below is only a placeholder and can be replaced.-->
<ul>
  <li><a routerLink="/">Home</a></li>
  <li><a routerLink="about/amol">About</a></li>
</ul>

<router-outlet></router-outlet>

<app-test (childEvent)="message=$event" [parentData]='parentProp'></app-test>

<br>

{{ message }} <br>

<br />
<h3>Custom Pipe:</h3>


<ul *ngFor="let p of myArr2">
  <li>{{ p.name }}</li>
  <li>{{ p.age }}</li>
  <li>{{ p.gender | findG }}</li>
</ul>

<br>
<h3>Component Interaction/ Component Communication:</h3>
<p>
 Hello {{ name }}
</p>
 <br>
 <h3>Sending data from Child Component to Parent Component using EventEmitter:</h3>
 <br>
 <button (click)='FireEvent()'>Click here to Send Event to Parent</button>


